{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Bienvenido a mi sitio web</h1>
    <p class="lead">Este es un sitio de ejemplo utilizando Bootstrap.</p>
    <button class="btn btn-primary">Botón de Bootstrap</button>
</div>
{% endblock %}