{% extends 'base.html.twig' %}



{% block title %}index{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card custom-card">
        <div class="card-header custom-card-header">
            <h1>Lista de Libros! ✅</h1>           
        </div>
        <div class="card-body custom-card-body">
            <p>Aquí están los libros:</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in libros %}
                            <tr>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.publicado | date('d-m-Y') }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}



