 <script>
  function cargarContenidoVencidos(id){
    axios.get('/vencidos/{{ id }}')
        .then(response => {
            console.log(response.data);
        })
        .catch(error => console.error('Error:', error));
  }
 </script>


     #[Route('vencidos/{{id}}', name: 'app_descripcion')]
    public function descri(EntityManagerInterface $entityManager, $id): Response
    {
        $descripcion = $this->descripcion_usuarios($entityManager, $id);
        return new JsonResponse($descripcion);
    }

    private function descripcion_usuarios(EntityManagerInterface $entityManager, $id){
        $result = $entityManager->createQuery(
            "SELECT ub.id,
                    u.username,
                    a.street,
                    a.state,
                    b.title,
                    b.author,
                    ub.checkout_date 
            FROM App\Entity\UsersBooks ub
            LEFT JOIN App\Entity\Users u 
                WITH	ub.users = u
            LEFT JOIN App\Entity\Books b 
                WITH	ub.books = b
            LEFT JOIN App\Entity\Addresses a 
                WITH u.addresses = a
            WHERE ub.id = :id
        ");
        #print(implode(',', $result->getSingleResult()));
        $result->setParameter('id', $id);
        return json_encode($result->getSingleResult());
    }